.trans-card {
    transition: all 0.3s;
}

.trans-card:hover {
    transform: scale(1.15);
    z-index: 999;
}

.popup {
  position: 'fixed';
  background-color: #fff;
  padding: 50px;
  z-index: 10000;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.header-flag {
    background-color: rgb(217, 217, 217);
    border-style: inset;
    border-color: darkgray;
    border-width: 10px;

}

.comp-icon {
    height: 30px;
}